<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CustoCalc</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <section class="section">

        <div class="container">
            <h1 class="title">
                CustoCalc
            </h1>
            <p class="subtitle">
                Calcule o custo das chamadas e compare os planos <strong>CustoCalc</strong>!
            </p>
        </div>
        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}

        <form action="/" class="form" method="POST">
            <div class="columns">
                <div class="column">
                <div class="field">
                    <label class="label">Código da cidade de origem:</label>
                    <div class="control">
                        <div class="select">
                            <select name="origin">
                                <option></option>
                                <option>011</option>
                                <option>027</option>
                                <option>028</option>
                                <option>031</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Código da cidade de destino:</label>
                    <div class="control">
                        <div class="select">
                            <select name="destiny">
                                <option></option>
                                <option>011</option>
                                <option>027</option>
                                <option>028</option>
                                <option>031</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Duração da chamada (min):</label>
                    <div class="control">
                        <input class="input" type="text" style="width: 33%;" placeholder="5" name="time">
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Escolha o plano:</label>
                    <div class="control">
                        <div class="select">
                            <select name="plan">
                                <option></option>
                                <option>Plano 30</option>
                                <option>Plano 60</option>
                                <option>Plano 120</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-link">Calcular</button>
                </div>
            </div>

            <hr>

            <div class="columns">
                <div class="column">
                    <h1 class="title is-6">Origem:</h1> {{ data_input[0] }}
                </div>
                <div class="column">
                    <h1 class="title is-6">Destino:</h1> {{ data_input[1] }}
                </div>
                <div class="column">
                    <h1 class="title is-6">Tempo (min):</h1> {{ data_input[2] }}
                </div>
                <div class="column">
                    <h1 class="title is-6">Plano:</h1> {{ data_input[3] }}
                </div>
                <div class="column">
                    <h1 class="title is-6">Com Plano:</h1> R$ {{ data[1] }}
                </div>
                <div class="column">
                    <h1 class="title is-6">Sem Plano:</h1> R$ {{ data[0] }}
                </div>

            </div>
        </form>
    </section>
</body>

</html>